/*图片放大*/
.content ul li img{
    transition: all .3s linear 0s;
}
.content ul li img:hover{
    transform: scale(1.1);
}
/*品类*/

.category dd .list img:hover{
    animation: rotate 1s linear forwards;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

